<h1>Register form</h1>

<%= form_for @user, url: users_register_path, remote: true do |f| %>
  Name: <%= f.text_field :name %><br/>
  Email: <%= f.email_field :email %><br/>
  Password: <%= f.password_field :password %><br/>
  <%= f.submit %>
<% end %>
